*{
    margin:0%;
    padding: 0%;
}
.main-nav{
    text-align: center;
    margin: 0.5px 300px;
    min-width: 300px;
    padding: 0px;
    border: solid black;
    background-color: rgb(3, 148, 148);
    
}
.main-nav li{
    display: inline-block;
}
.main-nav li a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.main-nav li a:hover{
    background-color: rgb(3, 126, 23);
}
    h1, h2{
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    height: 10rem;
    text-align: center;
}
.certificates{
    list-style: none;
    display: inline-block;
    padding: 1%;
}   
ul li img{
    height: 15rem;
    border-radius: 4rem;
    border: solid black;
}
